<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aiming.dao.LabelMapper">
   <resultMap type="org.aiming.entity.Label" id="BaseResultMap">
     <id column="id" property="id" jdbcType="VARCHAR"/>
     <result column="activate_date" property="activate_date" jdbcType="TIMESTAMP"/>
     <result column="cumulative_time" property="cumulative_time" jdbcType="VARCHAR"/>
     <result column="washing_count" property="washing_count" jdbcType="INTEGER"/>
     <result column="inuse" property="inuse" jdbcType="TINYINT"/>
     <result column="alive" property="alive" jdbcType="TINYINT"/>
     <result column="scrap_time" property="scrap_time" jdbcType="TIMESTAMP"/>
   </resultMap>
	
  <sql id="Base_Column_List">
    id,cumulative_time,washing_count,activate_date,inuse,alive,scrap_time
  </sql>
  
  <select id="getLabelByAcId" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" /> 
    FROM label WHERE id LIKE '${id}%'
    and inuse=1
    and alive=1
  </select>
  
  <select id="getLabelById" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" /> 
    FROM label WHERE id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getLablesSizeById" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" /> 
    FROM label
    <where>
    	1=1
    	<if test="id != null and id != ''">
    		and id = #{id,jdbcType=VARCHAR}
    	</if>
    	<if test="inuse != null and inuse != ''">
    		and inuse = #{inuse,jdbcType=TINYINT}
    	</if>
    	<if test="alive != null and alive != ''">
    		and alive = #{alive,jdbcType=TINYINT}
    	</if>
    	<if test="washing_count != null and washing_count != ''">
    	<![CDATA[	and washing_count <= #{washing_count,jdbcType=TINYINT} ]]>
    	</if>
    	<if test="ac_id != null and ac_id != ''">
    		and id LIKE '${ac_id}%'
    	</if>
    </where>
  </select>
  <select id="getLablesById" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" /> 
    FROM label
    <where>
    	1=1
    	<if test="id != null and id != ''">
    		and id = #{id,jdbcType=VARCHAR}
    	</if>
    	<if test="inuse != null and inuse != ''">
    		and inuse = #{inuse,jdbcType=TINYINT}
    	</if>
    	<if test="alive != null and alive != ''">
    		and alive = #{alive,jdbcType=TINYINT}
    	</if>
    	<if test="ac_id != null and ac_id != ''">
    		and id LIKE '${ac_id}%'
    	</if>
    	<if test="washing_count != null and washing_count != ''">
    		<![CDATA[	and washing_count <= #{washing_count,jdbcType=TINYINT} ]]>
    	</if>
    </where>
    ORDER BY washing_count asc
  </select>
  
  <insert id="labelInsert" parameterType="java.util.HashMap">
        INSERT INTO label
        (id,cumulative_time,washing_count) VALUES
        (#{id,jdbcType=VARCHAR},#{cumulative_time,jdbcType=VARCHAR},#{washing_count,jdbcType=INTEGER})
   </insert>
   
   <update id="deployLabel" parameterType="java.util.HashMap" >
    update label
    set washing_count = #{washing_count,jdbcType=INTEGER},
    inuse = 1,
    cumulative_time = #{cumulative_time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="removeLabel" parameterType="java.lang.String" >
    update label
    set inuse = 0
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="scrapLabel" parameterType="java.lang.String" >
    update label
    set alive = 0,
    inuse = 0,
    scrap_time = current_timestamp()
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateTimeOfLabel" parameterType="java.util.HashMap" >
    update label
    set cumulative_time = #{cumulative_time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
</mapper>