<style>
  form {
	padding: 20px 10px 20px 30%;
  }
  
  label {
	display: inline-block;
	width: 100px;
	text-align:right;
	font-weight: bold;
	margin: 0 15px 0 0;
	color: white;
  }
  
  p {
    padding: 2px;
  }
  
  #button {
    margin-left: 150px;
  }
</style>
<ul>
	<form id="reg">
		<p>
			<label for="username">用户名:</label>
			<input type="text" name="username" id="username">
		</p>
		<p>
			<label for="password">密码: </label>
			<input type="text" name="password" id="password">
		</p>
		<p>
			<label for="password">密码确认: </label>
			<input type="text" name="confirm" id="confirm">
		</p>
		<p>
			<input type="submit" name="button" id="button" value="Submit" >
		</p>
	</form>
</ul>