<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link href="css/main.css" rel="stylesheet">

</head>
<body>
<div class="wrapper">
	<div class="header">
		<p class="logo">爱民 <span>制药</span> <span class="mm">Air<br/>
			Filter<br/>
			Management</span></p>
	</div>
	<div class="login">
		<h1>超级用户登录</h1>
		<div id="formwrapper">
			<form method="get" action="index.html" id="login">
				<p>
					<label for="username">用户名:</label>
					<input type="text" name="username" id="username">
				</p>
				<p>
					<label for="password">密码: </label>
					<input type="text" name="password" id="password">
				</p>
				<p id='hidden'>
					<label for="level">Level: </label>
					<input type="text" name="level" id="level" disabled value=1>
				</p>
				<p>
					<input type="submit" name="button" id="button" value="Submit" >
				</p>
			</form>
		</div>
	</div>
	<div class="footer">
		<p>爱民 制药: 空调滤芯控制系统, by <a href="http://nacerc.hust.edu.cn/">国家防伪工程技术研究中心</a>. </p>
	</div>
</div>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('#hidden').hide();
  $('#login').submit(function(evt){
    evt.preventDefault();
    window.location.href = 'index.html';
  });
  
  function processData(data) {
    $.each(data, function(name, value){
	  if(name == 'errorCode') {
	    if(value == 0) {
		  alert('OK!');
		} else if (value == 1) {
		} else if (value == 2) {
		}
	  }
	});
  }
}); // end ready
</script>
</body>
</html>